{% extends "base.html" %}
{% block content %}
    <div>
    <ul class="list-group list-group-flush">
        {% for listing in listings %}
            <li class="list-group-item">
                <div class="card" style="width: 800px; padding-left: 20px;">
                    <img class="card-img-top" style="width: 300px" src="{{ produce[listing.produce_id-1].imageRef }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ produce[listing.produce_id-1].name }}</h5>
                        <p class="card-text">Sourced from: {{ supplier[listing.supplier_id-1].name }}</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}