{% extends "base.html" %}
{% block content %}
    <div style="padding-left:100px">
        <table style="height:300px">
                        <trbody>
                            <tr>
                                <td class="align-baseline">
                                <img style="width: 300px; height: 200px"
                                     src="{{ produce[listing.produce_id-1].imageRef }}">
                                    </td>
                                <td class="align-middle" style="padding-left: 40px">
                                <div>
                                    <h5 class="card-title"> {{ produce[listing.produce_id-1].name }}</h5>
                                    <p class="card-text">Sourced from: {{ supplier[listing.supplier_id-1].name }}</p>
                                    <p class="card-text">{{ listing.quantity }} in stock.</p>
                                    <p class="card-text">${{ listing.price }}/lb</p>
                                    <form action="" method="post" novalidate>
                                        {{ form.hidden_tag() }}
                                        <p>
                                            {{ form.quantity.label }}<br>
                                            {{ form.quantity(size=32) }}
                                        </p>
                                        <p>{{ form.submit() }}</p>
                                    </form>
                                </div>
                                </td>
                            </tr>
                        </trbody>
                    </table>
    </div>
{% endblock %}